h1, nav, a {
    font-family: 'Barrio', cursive;
}

.btn {
    color: white;
    background-color: #6D72C3;
    padding: 14px 25px;
    text-decoration: none;
}

nav {
    display: inline;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-size: 32px;
    margin-left: 12px;
    margin-right: 10px;
}

body {
    background-color: black;
}

.nav-heading {
    color: #EF6461;
    display: inline;
    font-size: 36px;
    margin-left: 10px;
}

header {
    text-align: center;
}

navlink {
    transform: translateY(-50%);
    top: 6%;
    position: initial;
    right: 12px;
}

img {
    width: 80%;
    padding-left: 42px;
}

#about-me-button {
    position: absolute;
    right: 142px;
}

#random-cat-button {
    position: absolute;
    right: 142px;
    top: 407px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
  }

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    .nav-heading {
        font-size: 64px;
        margin-left: 60px;
    }

    img {
        padding-left: 97px;
        width: 40%;
    }


    #about-me-button {
        position: absolute;
        right: 300px;
        top: 250px;
    }

    #random-cat-button {
        position: absolute;
        right: 300px;
        top: 308px;
    }
  }
