body {
    height: 100%;
    background-color: black;
}

#Shauna {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

h1 {
    font-family: 'Playfair Display', serif;
    color: white;
    text-align: center;
}

#homepage-text {
    position: fixed;
    right: 0;
}