#Shauna {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

h1, h2 {
    font-family: 'Playfair Display', serif;
    color: white;
    text-align: center;
}

#homepage-text {
    position: fixed;
    left: 725px;
}

#name {
    font-size: 50px;
    margin-bottom: 10px;
}

h2#title {
    font-size: 25px;
    margin-top: 10px;
}

button {
    background-color: #832232;;
    color: white;
}