<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=yes">
        <meta name="description" content="Shauna Saunders - Software Engineer specializing in custom web development">
        <title>
            {% block title %}{% endblock %}
        </title>
        {% block head %} {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>