{% extends 'base.html' %}
{% block title %}Shauna Saunders Homepage{% endblock %}
{% block head %}
<meta name="viewport" content="width=device-width">
<script>
    function youFab() {
        alert("Wouldn't you like to know, weather boy?");
    }
</script>
{% endblock %}
{% block body %}
<div class="row">
    <header class="col-6">
        <h1 class="nav-heading">Shauna Saunders</h1>
    </header>
    <!-- <nav class="col-6">
        <navlink>
            <a href="/" class="nav-link">Home</a>
            <a href="/" class="nav-link">About</a>
            <a href="/" class="nav-link">Portfolio</a>
            <a href="/" class="nav-link">Contact</a>
        </navlinks>
    </nav> -->
</div>
<div class="row">
    <img src="../static/img/shauna-nola.jpeg">
</div>
<div class="row">
    <a class="btn" id="about-me-button" onclick="youFab()">About Me</a>
</div>


{% endblock %}