{% extends 'base.html' %}
{% block title %}Shauna Saunders Homepage{% endblock %}
{% block head %}
<meta name="viewport" content="width=device-width">
<script src="../static/js/about-me-button.js"></script>
<script src="../static/js/random-cat-button.js"></script>
{% endblock %}
{% block body %}
<div class="row">
    <header class="col-6">
        <h1 class="nav-heading">Shauna Saunders</h1>
    </header>
    <!-- <nav class="col-6">
        <navlink>
            <a href="/" class="nav-link">Home</a>
            <a href="/" class="nav-link">About</a>
            <a href="/" class="nav-link">Portfolio</a>
            <a href="/" class="nav-link">Contact</a>
        </navlinks>
    </nav> -->
</div>
<div class="row">
    <img src="../static/img/shauna-nola.jpeg" id="cat-image">
</div>
<div class="row" id="homepage-buttons">
    <a href="/about-me" class="btn" id="about-me-button" onclick="youFab()">About Me</a>
    <a class="btn" id="random-cat-button" onclick="shuffleCats()">Click Me</a>
</div>
<div class="row">
</div>
<!-- <div class="row">
    <img src="" id="cat-image">
</div> -->

{% endblock %}